*{
    margin: 0%;
    padding: 0%;

}

.boton{
    width: 100%;
    height: 32px;
    border: none;
    
   // background-color: rgb(119, 0, 255);
}


form {
width: 5%;
height: 30px;
}

.container {
    width: 40%;

}

.item {
    width: 40%;
}

.item {
    list-style: none;
    margin-left: 10%;
}